<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.board.model.dao.ParticipateDao">
	
	<insert id="create" parameterType="Participate" useGeneratedKeys="true" keyProperty="participateId">
		INSERT INTO participate (userId, classId) VALUES
		(#{userId}, #{classId})		
	</insert>

	<delete id="delete" parameterType="int">
		DELETE FROM participate
		WHERE participateId = #{participateId}
	</delete>

	
</mapper>