<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.board.model.dao.UserReserveDao">
	
	<select id="selectOne" resultType="UserReserve" parameterType="int">
		SELECT *
		FROM User_Reserve
		WHERE reserveId = #{reserveId};
	</select>

	<insert id="insertUserReserve" parameterType="UserReserve" keyProperty="reserveId" useGeneratedKeys="true">
		INSERT INTO User_Reserve (reserveId, userId, gymId, meetTime)
		VALUES (#{reserveId}, #{userId}, #{gymId}, #{meetTime})
	</insert>
	
	<delete id="deleteUserReserve" parameterType="int">
		DELETE FROM User_Reserve
		WHERE reserveId = #{reserveId}
	</delete>
	
	
	<select id="userselectAll" resultType="UserReserve">
		select gym.name , meetTime
		from User_Reserve, gym
		where User_reserve.gymId = gym.gymId and userId= #{userId}	
	</select>
	
	<select id="gymselectAll" resultType="UserReserve">
		select *
		from User_Reserve
		where gymId= #{gymId}	
	</select>
	

</mapper>