<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.board.model.dao.UserDao">
	
	<select id="selectAll" resultType="User">
		select *
		from User
		
	</select>

	<insert id="insertUser" parameterType="User" useGeneratedKeys="true" keyProperty="userId">
		insert into User (id, levelId, name,password, nickname, birth, email, phonenum,address,cash,sex)
		values (#{id},#{levelId},#{name},#{password}, #{nickname}, #{birth}, #{email}, #{phonenum},#{address},#{cash},#{sex})
	</insert>
	
	<delete id="deleteUser" parameterType="int">
		DELETE FROM User
		WHERE userId = #{userId}
	</delete>
	
	<update id="updateUser" parameterType="User">
		UPDATE User
		SET userId = #{userId}, id = #{id}, password = #{password}, nickname = #{nickname}, birth = #{nickname}, email = #{email}, phonenum = #{phonenum}, address = #{address}
		WHERE userId = #{userId}
	</update>
	
	<select id="selectOne" parameterType="String" resultType="User">
		SELECT *
		FROM User
		WHERE id = #{id}
	</select>
	<!-- 팔로우 기능과 관련된 사용자를 선택하는 SQL 쿼리문 -->
	<select id="selectAllFollowing" parameterType="int" resultType="User">
		
	</select>
	<select id="selectAllFollower" parameterType="int" resultType="User">
	
	</select>
</mapper>