<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.board.model.dao.UserDao">
	
	<select id="selectAll" resultType="User">
		select *
		from User
		
	</select>

	<insert id="insertUser" parameterType="User" useGeneratedKeys="true" keyProperty="userId">
		insert into User (name,password, nickname, birth, email, phonenum,address,cash,totalcash,sex)
		values (#{name},#{password}, #{nickname}, #{birth}, #{email}, #{phonenum},#{address},#{cash},#{totalcash},#{sex})
	</insert>
	
	<delete id="deleteUser" parameterType="int">
		DELETE FROM User
		WHERE userId = #{userId}
	</delete>
	
	<update id="updateUser" parameterType="User">
		UPDATE User
		SET userId = #{userId}, password = #{password}, nickname = #{nickname}, birth = #{birth}, email = #{email}, phonenum = #{phonenum}, address = #{address}
		WHERE userId = #{userId}
	</update>
	
	<select id="findByEmail" parameterType="String" resultType="User" >
		select * 
		from User
		where email = #{email}
	</select>
	
	
	<update id="chargeCash"  parameterType="map">
		UPDATE User
		SET cash = money + #{cash}, totalcash = money + #{totalcash}
		WHERE userId = #{userId}
	</update>
	
	<update id="useCash"  parameterType="map">
		UPDATE User
		SET cash = #{cash} - money
		WHERE userId = #{userId}
	</update>
	
	
	
	<!-- 선택한 사람이 팔로우 하는 모든 사람을 보여줌 -->
	<select id="getFollowingList" parameterType="int" resultType="User">
		<!-- SELECT userId, levelId, name, password, nickname, birth, email, phonenum, address, cash, sex
		 FROM user WHERE userId = (SELECT following FROM follow WHERE follower = #{userId}) -->
		 <!-- 안되면 위에있는 코드 실행 -->
		 SELECT userId, levelId, name, password, nickname, birth, email, phonenum, address, cash, sex
		 FROM user WHERE userId in (SELECT following FROM follow WHERE follower = #{userId})
	</select>
	<!-- 선택한 사람을 팔로우 하는 모든 사람을 보여줌 -->
	<select id="getFollowerList" parameterType="int" resultType="User">
		<!-- SELECT userId, levelId, name, password, nickname, birth, email, phonenum, address, cash, sex
		 FROM user WHERE userId = (SELECT follower FROM follow WHERE following = #{userId}) -->
		 <!-- 안되면 위에있는 코드 실행 -->
		 SELECT userId, levelId, name, password, nickname, birth, email, phonenum, address, cash, sex
		 FROM user WHERE userId in (SELECT follower FROM follow WHERE following = #{userId})
	</select>
	
	
</mapper>